<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51429406-1', 'stephenchang.herokuapp.com');
  ga('send', 'pageview');

</script>

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Stephen Chang", root_path %></h1>
    </li>
  </ul>
</nav>



<div class="wrapper">

  <div class="biography radius div-center">
    <div class="inner round-corners">
      <p class="text-center">Allow me to introduce myself.</p>
      <p class="text-center">I'm a web developer based in downtown Toronto looking for new opportunities!</p>
      <p class="text-center">Below you will see everything that I have encountered in my coding career so far and how it would describe my personal skillset.</p>
    </div>
  </div>

  <table class="round-corners div-center">
    <thead>
      <tr class="content-width">
        <th>Development Skills</th>
        <th>Personal Skill Level</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ruby on Rails 4</td>
        <td id='row-1'>
          <div class="progress radius round background-grey"><span class="meter" style="width: 100%; float:left">Best</span></div>
        </td>
      </tr>
      <tr>
        <td>HTML5 & CSS3</td>
        <td><div class="progress radius round"><span class="meter" style="width: 90%">Best</span></div></td>
      </tr>
      <tr>
        <td>JavaScript</td>
        <td><div class="progress radius round"><span class="meter" style="width: 60%">Average</span></div></td>
      </tr>
      <tr>
        <td>jQuery</td>
        <td><div class="progress radius round"><span class="meter" style="width: 60%">Average</span></div></td>
      </tr>
      <tr>
        <td>AJAX</td>
        <td><div class="progress radius round"><span class="meter" style="width: 60%">Average</span></div></td>
      </tr>
      <tr>
        <td>Bootstrap & Foundation</td>
        <td><div class="progress radius round"><span class="meter" style="width: 100%">Best</span></div></td>
      </tr>
      <tr>
        <td>Git</td>
        <td><div class="progress radius round"><span class="meter" style="width: 90%">Better</span></div></td>
      </tr>
      <tr>
        <td>Rspec</td>
        <td><div class="progress radius round"><span class="meter" style="width: 60%">Average</span></div></td>
      </tr>
      <tr>
        <td>Object Oriented Programming</td>
        <td><div class="progress radius round"><span class="meter" style="width: 80%">Better</span></div></td>
      </tr>
      <tr>
        <td>MVC Frameworks</td>
        <td><div class="progress radius round"><span class="meter" style="width: 80%">Better</span></div></td>
      </tr>
    </tbody>
  </table>

  <div class="biography radius div-center">
    <div class="inner round-corners">
      <p class="text-center"><strong> How to contact me? </strong></p>
      <p class="text-center"><a href="tel:+16474040129"><i class="fa fa-phone fa-2x"> Call me! </i></a></p>
      <p class="text-center"><a href="mailto:stephenycchang@gmail.com"><i class="fa fa-envelope fa-2x"> E-mail Me!</i></a></p>
      <p class="text-center"><a href="http://www.linkedin.com/pub/stephen-chang/39/819/160"><i class="fa fa-linkedin-square fa-2x"> LinkedIn</i></a></p>
      <p class="text-center"><a href="https://github.com/stephenycchang"><i class="fa fa-github-square fa-2x"> GitHub</i></a></p>
    </div>
  </div>
</div>