<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Stephen Chang", root_path %></h1>
    </li>
  </ul>
</nav>



<div class="wrapper">

  <div class="biography radius div-center">
    <div class="inner round-corners">
      <p class="text-center">My name is Stephen Chang</p>
      <p class="text-center">I'm a web developer in Toronto</p>
    </div>
  </div>

  <table class="round-corners div-center">
    <thead>
      <tr class="content-width">
        <th>Development Skills</th>
        <th>Personal Skill Level</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ruby on Rails 4</td>
        <td id='row-1'>
          <div class="progress radius round background-grey"><span class="meter" style="width: 100%; float:left">Best</span></div>
        </td>
      </tr>
      <tr>
        <td>HTML5 & CSS3</td>
        <td><div class="progress radius round"><span class="meter" style="width: 90%">Best</span></div></td>
      </tr>
      <tr>
        <td>JavaScript</td>
        <td><div class="progress radius round"><span class="meter" style="width: 60%">Average</span></div></td>
      </tr>
      <tr>
        <td>jQuery</td>
        <td><div class="progress radius round"><span class="meter" style="width: 60%">Average</span></div></td>
      </tr>
      <tr>
        <td>AJAX</td>
        <td><div class="progress radius round"><span class="meter" style="width: 60%">Average</span></div></td>
      </tr>
      <tr>
        <td>Bootstrap & Foundation</td>
        <td><div class="progress radius round"><span class="meter" style="width: 100%">Best</span></div></td>
      </tr>
      <tr>
        <td>Git</td>
        <td><div class="progress radius round"><span class="meter" style="width: 90%">Better</span></div></td>
      </tr>
      <tr>
        <td>Rspec</td>
        <td><div class="progress radius round"><span class="meter" style="width: 100%">Average</span></div></td>
      </tr>
      <tr>
        <td>Object Oriented Programming</td>
        <td><div class="progress radius round"><span class="meter" style="width: 80%">Better</span></div></td>
      </tr>
      <tr>
        <td>MVC Frameworks</td>
        <td><div class="progress radius round"><span class="meter" style="width: 80%">Better</span></div></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h1>Contact me!</h1>
  <p><i class="fa fa-phone fa-2x"></i> <a href="tel:+16474040129">+1 (647) 404-0129</a></p>
  <p><i class="fa fa-envelope fa-2x"></i> <a href="mailto:stephenycchang@gmail.com">stephenycchang@gmail.com</a></p>
  <p><a href="http://www.linkedin.com/pub/stephen-chang/39/819/160"><i class="fa fa-linkedin-square fa-3x"></i></a></p>
  <p><a href="https://github.com/stephenycchang"><i class="fa fa-github-square fa-3x"></i></a></p>
</div>
